<div class="row">
  <div class="col-md-5">

    <h2>Details of "{{movie$.movieName}}"</h2>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Genre: </strong> {{movie$.genreName}}</li>
        <li class="list-group-item"><strong>Release Date: </strong>{{movie$.releaseDate | date:"mediumDate"}}</li>
        <li class="list-group-item"><b>Genre :</b>{{movie$.genreName}}</li>
        <li class="list-group-item"><b>Synopsis :</b>{{movie$.synopsis}}</li>
        <li class="list-group-item"><b>Runtime In Minutes :</b>{{movie$.runtimeInMinutes}} mins</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <a [routerLink]="'/movies'">Back to List</a>
  </div>
</div>
