<div class="row">
  <div class="col-md-9">
    <h2>Movie Details</h2>
    <hr>
    <div class="row  mb-3">
      <div class="col-8">
        <input type="search" name="searchText" class="form-control" placeholder="Search movie by name" [(ngModel)]="searchText">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-secondary g-1" (click)="onSearchMovieName(searchText)">Search</button>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Release Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of movies$">
          <td> <a [routerLink]="['/movies/get-movie/',m.id]"> {{m.movieName}}</a></td>
          <td>{{m.rating}}</td>
          <td>{{m.releaseDate | date:"mediumDate"}}</td>
          <td>

          </td>
          <td>
            <a [routerLink]="['/movies/update-movie/',m.id]"><i class="fa-regular fa-pen-to-square"></i></a> |
            <a href="#" (click)="deleteMovie(m.id)"><i class="fa-regular fa-trash-can text-danger"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
